[submodule "CredSniper"]
	path = CredSniper
	url = https://github.com/ustayready/CredSniper
[submodule "EvilURL"]
	path = EvilURL
	url = https://github.com/UndeadSec/EvilURL
[submodule "gophish"]
	path = gophish
	url = https://github.com/gophish/gophish
[submodule "king-phisher"]
	path = king-phisher
	url = https://github.com/securestate/king-phisher
[submodule "phishery"]
	path = phishery
	url = https://github.com/ryhanson/phishery
[submodule "SocialEngineeringPayloads"]
	path = SocialEngineeringPayloads
	url = https://github.com/bhdresh/SocialEngineeringPayloads
[submodule "IP-Biter"]
	path = IP-Biter
	url = https://github.com/damianofalcioni/IP-Biter
[submodule "phishing-frenzy"]
	path = phishing-frenzy
	url = https://github.com/pentestgeek/phishing-frenzy
[submodule "judas"]
	path = judas
	url = https://github.com/JonCooperWorks/judas
[submodule "evilginx"]
	path = evilginx
	url = https://github.com/kgretzky/evilginx
